@import "modern-normalize.css";


:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}
 

/* body {
    font-size: calc(16px + 1vw);
    height: 100vh;
} */

.header {
  display: flex;
  padding-left: 30px;
  font-weight: bold;

  & svg {
    height: 1.5rem;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(4, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, 300px);
  padding: 40px 50px 0 50px;
  gap: 30px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(235, 230, 230);
  gap: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;

  & img {
    height: 260px;
  }

  & .book-info {
    font-size: 0.8rem;
  }

  & button {
    grid-column: 1 / -1;
    border: none;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    
    & svg {
      height: 70px;
    }
  }
}

.book-info {
  display: flex;
  flex-direction: column;

  & p:first-child {
    font-weight: bold;
    font-size: 0.9rem;
  }

  & :not(p:first-child) {
    font-size: 0.7rem;
  }

  & p:first-child + p {
    color: rgb(0 0 0 / 60%);
  }

  & .btn-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    
    & p {
      font-size: 0.7rem;
    }

    & label {
      transform: translateY(-3px);
    }

    & .delete-btn {
      display: initial;
      grid-column: 3 / 4;
      justify-self: end;

      & img {
        height: 35px;
        transform: translateX(10px);
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 28px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider::before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

dialog {
  border: none;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  & .input-row {
    display: flex;
    align-items: center;
    font-size: 0.8rem;

    & input {
      border: 1px solid rgb(214, 211, 211);
      border-radius: 6px;
      padding: 8px 12px 8px 12px;
    }
  }
  
  & .input-row:nth-child(-n + 3) {
    justify-content: space-between;
    gap: 15px;
  }
  
  & .input-row:nth-child(4) {
    gap: 35px;
  }

  & .input-row:nth-child(5) {
    justify-content: center;
    gap: 50px;

    & button {
      border: none;
      padding: 10px 30px 10px 30px;
      cursor: pointer;
      border-radius: 30px;
    }

    & button:hover {
      color: white;
      background-color: black;
    }
  }
}